#window {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(32, 31, 31);
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(96, 93, 93);
}

.swapbox_select {
  width: 60%;
  float: left;
}

.swapbox {
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 15px;
  border: 1px solid #565656;
  /* display: flex;
  flex-direction: row; */
}

.token_select {
  padding: 5px 0;
  border-radius: 20px;
  border: 1px solid #565656;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(83, 81, 81);
  float: left;
  width: 40%;
}

.token_select:hover {
  background-color: #464646;
  cursor: pointer;
  box-shadow: 0 0 8px rgb(96, 93, 93);
}

.token_list_img {
  width: 10%;
}

.token_image {
  width: 25%;
  padding-left: 0.25rem;
}

#to_token_text,
#from_token_text {
  text-align: left;
}

.modal-body {
  height: 600px;
  overflow: scroll;
}

.token_row {
  padding: 5px 10px;
}

.token_row:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}

#swap_button {
  width: 100%;
  background-color: #4d44ff;
  border-radius: 10px;
  border: 1px solid #565656;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  z-index: 1;
}

#swap_button:hover {
  background-color: #6b62fd;
  cursor: pointer;
  border: 1px solid #4d44ff;
}

.number {
  background-color: #69696900;
  color: #c7c7c7;
  border-radius: 10px;
  border: none;
  font-size: large;
  text-align: end;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: right;
  width: 50%;
  padding-right: 5%;
}

.number:focus {
  background-color: #8c8c8c00;
  color: rgb(223, 223, 223);
  font-size: large;
  /* move input to the right */
  text-align: end;
}

.dropdownArrow {
  float: right;
  padding-right: 5%;
}

#holdingBalance {
  /* the location of this div has to be bellow .number div */
  font-size: small;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: right;
  width: 30%;
}

.decorationText {
  font-size: small;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: left;
  padding-left: 7px;
  padding-top: 3px;
}

#token_modal {
  /* move slightly to the right and make the modal smaller */
  margin-left: 38%;
  width: 41%;
}

#token_modal .modal-body {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #565656;
  color: #d5cece;
}
