.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#transferETH,
#transferERC20,
#transferNFTs,
#transactionsSection,
#balancesSection,
#nftSection,
#ERC20MetadataContent {
  display: none;
}

a {
  cursor: pointer;
}

.outer.nfts {
  width: 100%;
}

.inner.nfts {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.card.col-md-4.nfts {
  cursor: pointer;
  flex-basis: calc(33.33% - 40px);
  margin: 5px;
  box-sizing: border-box;
  width: 350px;
}

.card-img-top.nfts {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card.col-md-4.nfts:hover {
  transition: 1s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px !important;
  transition: all 0.1s ease 0s;
  transform: translateY(-2px);
}

.the-buttons {
  display: flex;
  justify-content: space-evenly;
}

.card h5 {
  font-size: 14px;
}
.card h6 {
  font-size: 13px;
}
.card p {
  font-size: 11px;
}

.text-muted {
  font-size: 11px;
  color: #3f3d5678;
}

footer {
  margin-top: 50px;
}

h2 {
  padding: 20px;
  color: #6b62fd;
}

.metadataCard {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: gray 0px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.metadataCard p {
  font-size: 16px;
}

.metadataCard h5 {
  font-size: 22px;
}

.metadataCard img {
  width: 100px;
  height: auto;
  /* position left */
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 0;
  margin-right: 10px;
}

#sidebarMenuMinMaxButton {
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#sidebarMenuMinMaxButton:hover {
  background-color: rgb(211, 211, 211);
}
